{
  "presets": [
    [
      "env",
      {
        //"modules": false,
        "targets": {
          "browsers": ["last 10 versions", "not dead"],
          "node": "current"
        }
      }
    ],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"],
  "env": {
    "development": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
